@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: lightblue;
  font-family: 'Pompiere', serif;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 16px;
  color: lightgrey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.App-header {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  color: white;

  h1 {
    background-color: #282c34;
    font-family: 'Pompiere', serif;
    font-size: 3rem;
    font-variant: small-caps;
    margin: 0;
    padding: 1rem;
  }

  nav {
    text-align: right;
    position: absolute;
    top: .2rem;
    right: 1rem;

    a {
      color: lightcoral;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.App-body {
  width: 100vw;
  margin-top: 5rem;
  grid-area: 2 / 1 / 3 / 2;
}

.generation {
  display: flex;
  justify-content: center;
}

.home {
  color: #282c34;
}

.person-preview {
  background: #282c34;
  color: white;
  padding: 2rem 1rem;
  margin: 2rem 1rem;
  width: 20vw;

  &:hover  {
    cursor: pointer;
  }

  a {
    color: white;
  }
}

.person-profile {
  top: 1rem;
  z-index: 1; 
  background-color: #282c34;
  padding: 2rem;

  button {
    margin: 1rem;
    
    &:hover  {
      cursor: pointer;
    }
  }
}